@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.react-calendar__tile--active {
  background-color: #E1DAFF;
  border: 2px solid #867BEE;
  border-radius: 100%;
}


@media(max-width: 574px) {
  

}